<!DOCTYPE html>
<html>
  <head>
    {{- partial "header.html" . -}}
  </head>
  <body>
  {{- partial "head.html" . -}}
  <section class="section">
    <div class="container">
      <div class="columns">
        <main class="column is-9">
          <div class="content">
            {{- block "main" . -}}{{- end }}
          </div>
        </main>
        {{- partial "right-side.html" . -}}
      </div>
    </div>
  </section>
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
  </body>
</html>
