{{ define "main" }}

{{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts").ByPublishDate.Reverse }}

<nav class="breadcrumb is-small" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="{{ "/" | absURL }}">
        <span class="icon is-small">
          <i class="fas fa-home" aria-hidden="true"></i>
        </span>
        <span>Home</span>
      </a>
    </li>
    <li class="is-active">
        <a href="#">
          <span class="icon is-small">
            <i class="fas fa-book" aria-hidden="true"></i>
          </span>
          <span>Posts</span>
        </a>
      </li>
  </ul>
</nav>
<div class="content">
{{ range $paginator.Pages }}
  <article class="media">
    <div class="media-content">
      <h2 class="title is-3"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></h2>
      <div class="content is-small"><i class="far fa-calendar-alt"></i> {{ .Date.Format "January 2, 2006" }} <i class="fas fa-book-open"></i> {{ .ReadingTime }} Min</div>
      <div class="content">
        {{ .Summary }}
      </div>
      <div class="has-text-right"><a href="{{ .Permalink }}">More</a></div>
    </div>
  </article>
{{ end }}
</div>

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  {{ if $paginator.HasPrev }}<a class="pagination-previous" href="{{ $paginator.Prev.URL }}">Previous</a>{{ end }}
  {{ if $paginator.HasNext }}<a class="pagination-next" href="{{ $paginator.Next.URL }}">Next</a>{{ end }}
  <ul class="pagination-list">
  </ul>
</nav>

{{ end }}
