{{ define "main" }}

<nav class="breadcrumb is-small" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="{{ "/" | absURL }}">
        <span class="icon is-small">
          <i class="fas fa-home" aria-hidden="true"></i>
        </span>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="{{ "categories" | absURL }}">
        <span class="icon is-small">
          <i class="fas fa-bookmark" aria-hidden="true"></i>
        </span>
        <span>Category</span>
      </a>
    </li>
    <li class="is-active">
      <a href="#"></a>
        <span class="icon is-small">
          <i class="fas fa-puzzle-piece" aria-hidden="true"></i>
        </span>
        <span>{{ .Title }}</span>
      </a>
    </li>
  </ul>
</nav>
<div class="content">
  {{ range .Pages }}
    <article class="media">
      <div class="media-content">
        <h2 class="title is-3"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></h2>
        <div class="content is-small"><i class="far fa-calendar-alt"></i> {{ .Date.Format "January 2, 2006" }} <i class="fas fa-book-open"></i> {{ .ReadingTime }} Min</div>
          <div class="content">
            {{ .Summary }}
          </div>
        <div class="has-text-right"><a href="{{ .Permalink }}">More</a></div>
      </div>
    </article>
  {{ end }}
</div>
{{ end }}